@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto|Raleway|Karla');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  overflow-x: hidden;
  color: whitesmoke;
  font-family: 'Flamenco', cursive; 
}
#content{
padding:0.5em;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/doc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.row{
  max-width: 1180px;
  margin: 0 auto;
}

.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.main-content-header{
  width: 1180px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
