/* Dropdown Button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: rgba(45, 75, 89, 20%);
    padding: 20px;
    text-align: center;
}
.topnav{
    background: #008000;
    overflow: hidden;
}

.topnavusers{
      color: #ffffff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}

.topnav a{
    color: #ffffff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: #373737;
    text-decoration: none;
    background-color: #ffffff;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.row:after{
    content: "";
    display: block;
    clear: both;
}

.footer{
    background-color: rgba(45, 75, 89, 20%);
    padding: 50px;
    text-align: center;
}

 .register{
 	width: 70%;
 	margin: 50% auto 0px;
 	color: white;
 	background: #5F9EA0;
 	text-align: center;
 	border: 1px solid #80C4DE;
 	border-bottom: none;
 	border-radius: 10px 10px 0px 0px;
 	padding: 20px;
 }
form, .insides{
	width: 70%;
	margin: 0px auto;
	padding: 2opx;
	border: 1px solid #80C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 3px; 
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
} 
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left; 
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
/*image display*/
#content1{
  width: 50%;
  margin: 20px auto;
  border: 3px;
  border: 3px solid #cbcbcb;
}
/*form{
  width: 50%;
  margin: 20px auto;
}
form div{
  margin-top: 5px;
}*/
#img_div{
  width: 80%;
  padding: 5px;
  margin: 15px auto;
  border: 3px solid #cbcbcb;
}
#img_div:after{
  content: "";
  display: block;
  clear: both;
}
img{
  float: left;
  margin: 5px;
  width: 300px;
  height: 140px;
}
/*end----image display*/